@font-face{
	font-family: Cuprum-Bold;
	scr:url(/assets/fonts/Cuprum-Bold.ttf) format('truetype'),url(/assets/fonts/Cuprum-Bold.woff) format('woff'),url(/assets/fonts/Cuprum-Bold.eot) format('embedded-opentype');
}
@font-face{
	font-family: Cuprum-Regular;
	scr:url(/assets/fonts/Cuprum-Regular.ttf) format('truetype'),url(/assets/fonts/Cuprum-Regular.woff) format('woff'),url(/assets/fonts/Cuprum-Regular.eot) format('embedded-opentype');
}
@font-face{
	font-family: Rex Bold;
	scr:url(/assets/fonts/Rex Bold.otf) format('opentype'),url(/assets/fonts/Rex Bold.woff) format('woff'),url(/assets/fonts/Rex Bold.eot) format('embedded-opentype');
}
body
{
	background: url(/assets/img/background.png) no-repeat center center;
}
.side-bar{
	font-family: Rex Bold;
	height: 80%;
}
.side-barl{
	float: left;
}
.side-barr{
	float: right;
	width: 180px;
}
.head-me{
	font-family: Cuprum-Bold;
	font-size: 24px;
	height: 87px;
	background: url(/assets/img/header-rs.png);
	margin-bottom: 5px;
	color: #fff;
}
.head-st
{
	margin-top: 30px;
	margin-left: 40px;
}
.head-stl
{
	color:#FFF;
	font-size: 20px!important;
	margin-top: 15px;
	margin-left: 100px;

}
#pre-share{
	height: 500px;
	width: 175px;
	float: right;
}
#share{
	padding-top: 20px;
	background:url(/assets/img/square-act.png) center no-repeat;
	height: 220px;
}
#big{
	margin-left: 200px;
	width: 750px;
	height: 500px;
}
#line{
	border-top: 1px dashed #000;
	width: 100%;
}
#mrgul{
	height: 250px;
}
.container{
	height: inherit;
}
#desr, #desl{}
#desc{}
#desl{float:left;}
#desr{float:right;}
.side-my > li > a:hover,
.side-my > li > a:focus {
  color:#f98308!important;
  text-decoration: none;
  background:url(/assets/img/square-hoverrs.png) no-repeat center;
}
.header{
	font-family: Cuprum-Bold!important;
	color: #ddd;
}
input{
	border-radius: 20px;
	padding-left: 10px;
	box-shadow: none;
}
input.myinp{
	width: 400px;
}
input.myinp-cell1{width: 50px;}
input.myinp-cell2{width: 150px;}
input.myinp-to{width: 50px;margin-left: 15px;}
select,option{border-radius: 10px; }
form{font-size: 16px;}
textarea{border-radius: 20px;padding:0 10px;}
