{% extends 'component/body.twig' %}
{% block layout %}
    <div class="wrapper">
        <div class="content">
            {% block content %}{% endblock %}
        </div>
        <div class="sidebar">
            {% block sidebar %}{% endblock %}
        </div>
    </div>
{% endblock %}